*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.calculator {
    width: 265px;
    height: 400px;
    margin: auto;
    background-color: silver;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 15px rgb(209, 202, 202);
}

#screen{
    background-color: white;
    height: 80px;
    font-size: 30px;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.sct {
    width: 100%;
    height: 60px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    gap: 2px;

}

button {
    width: 23%;
    height: 100%;
    border-radius: 10%;
    flex-grow: 2;
    font-size: 25px;
    
}

.number {
    background: #000;
    color: white;
}
.number:active{
    background-color: silver;
}
.clear {
    background-color: green;

}
.clear:active {
    background-color: white;
}
.op {
    background-color:rgb(18 18 17);
    color: white;

}
.operator {
    background-color: rgb(250, 169, 70);
}
.operator:active{
    background-color: white;
}
.equals:active {
    background-color: green;
}

@media all and ( max-width:457px) {
    .calculator{
         width: 100%;
         height: 100vh; 
         background: #000;
         justify-content: flex-end;
         padding: 10px 0;

    }
    #screen {
        height: 27%;
        background: #000;
        color: white;
        font-size: 70px;

    }
    .buttons {
        height: 73%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    button {
        border-radius: 100%;
        border: none;
        font-size: 35px;
    }
    .number{
        background-color: rgb(52, 52, 52);
    }
    .sct {
        flex: 1;
        padding: 0 10px;
        gap: 10px;
    }
}